<!DOCTYPE html>
<html>
<head>
  <title>FlyYouFools</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= yield :css %>
  <%= yield :javascript %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= image_tag("banner.png") %>

<%= yield %>
<hr>
<p>Telefon: 08-123 45 67 | mail: info@faroflyg.se | Adress: Foretagsvagen 18, 110 17 Stockholm | ©2011 Far & Flyg </p>

</body>
</html>
